.list-group-item {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(131, 131, 131);
  border-radius: 4px;
  margin-top: 10px;
}

.increase {
  color: orangered;
}

.btn-wrapper {
  display: flex;
  justify-content: start;
  gap: 5px;
}
