.app {
  margin: 0 auto;
  max-width: 1000px;
}

.search-panel {
  margin-top: 30px;
  padding: 10px 10px;
  background-color: #2c9ccc;
  border-radius: 4px;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.15);
  color: #fff;
}
